// Our custom element will be `display: inline` by default. Make it a block and add some spacing.
:host {
  display: block;
  margin-bottom: 8px;
}

// Remove Material's margin from the content since we have a row of chips.
.mat-card-content {
  margin-bottom: 0;
}

// Spread out the actions content to the left and right.
.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Add some spacing to the chip list
.mat-chip-list {
  display: block;
  margin-top: 12px;
}

// Allows for the image to cover the card while preserving its dimensions.
.mat-card-image {
  object-fit: cover;
  object-position: top;
  max-height: 150px;
}

// Increase the size of the author's name and add some spacing.
// .author {
//   font-size: 14px;
//   margin-left: 8px;
// }

.card {
  position: relative;
}

.icon {
  font-size: 17px;
  cursor: pointer;
  position: absolute;
  right: -6px;
  top: 0px;
}
