.board {
  // Flexbox styling that defines the direction in which the content is flowing.
  // Also makes it easier to stretch the lists to the height of the screen later on.
  display: flex;
  flex-direction: row;

  // Ensure that the board covers the viewport and add some padding to make it look better.
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;

  // Only allow horizontal scrolling.
  overflow-x: auto;
  overflow-y: hidden;
}

.card-list {
  // Stretch the element to the height of the board and make it scrollable.
  height: 100%;
  width: 320px;
  overflow: auto;
  box-sizing: border-box;
  margin-right: 8px;
  flex-shrink: 0;

  // Some extra styling to make the card list look better.
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding: 8px;
}
