.board {
  // Flexbox styling that defines the direction in which the content is flowing.
  // Also makes it easier to stretch the lists to the height of the screen later on.
  display: flex;
  flex-direction: row;

  // Ensure that the board covers the viewport and add some padding to make it look better.
  width: 100%;
  height: 85vh;
  padding: 8px;
  box-sizing: border-box;

  margin-bottom: 10px;

  // Only allow horizontal scrolling.
  overflow-x: auto;
  overflow-y: hidden;
}

.card-list {
  // Stretch the element to the height of the board and make it scrollable.
  height: 100%;
  width: 320px;
  overflow: auto;
  box-sizing: border-box;
  margin-right: 8px;
  flex-shrink: 0;

  // Some extra styling to make the card list look better.
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding: 8px;
}

.card-list {
  // Makes it possible for the `card-list-content ` to take up the remaining space.
  display: flex;
  flex-direction: column;

  h2 {
    // Extra spacing to make things look better.
    margin-bottom: 5px;
  }

  .add-talk {
    // The flex-shrink prevents the button from shrinking if the list content becomes too large.
    flex-shrink: 0;
    margin-top: 10px;
  }
}

.card-list-content {
  // Make the list scrollable and stretch it to take up the available height.
  overflow: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

// If items are being reordered through dragging, all other elements should
// reorder smoothly. Also if an item is being dropped, it should animate
// into its target position.
.cdk-drag-animating, .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Hides the placeholder if an element is being dragged.
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  border: 2px dashed #673ab7;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
