.sidenav-container {
  // height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  flex-shrink: 0;
}

.mat-sidenav-content {
  // Contain the board within its container.
  display: flex;
  flex-direction: column;
}
